<form method="POST" action='/publicacoes/nova'>
    <input placeholder="Insira o nome da nova publicação" type='text' name='nome' /><br />
    <textarea placeholder="Insira a descrição da nova publicação" type='text' name='descricao'></textarea>
    <button>Salvar</button>
</form>